:root {
    --primary-color: rgb(168, 160, 255);
}


.primary-btn {
    box-shadow: 5px 5px 0px var(--primary-color);
    border: 1px solid #000;
    padding: 5px 30px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-color {
    color: var(--primary-color) !important;
}

section {
    margin: auto;
    max-width: 1280px;
    width: 90%;
}



h1,
h2 {
    position: relative !important;
    width: fit-content;
    text-align: center !important;
    margin: auto !important;
    margin-bottom: 20px !important;
}

h1 {
    margin-top: 50px !important;
    font-weight: 700 !important;
}


h2 {
    font-weight: 700 !important;
}


h1::before,
h2::before {
    /* content: '' !important;
    width: 100% !important;
    height: 10px !important;
    background-color: var(--primary-color) !important;
    position: absolute !important;
    bottom: -1px !important;
    left: 5px !important;
    right: -5px !important;
    z-index: -1 !important; */
}

p {
    color: #000 !important;
}


.header_section {
    max-width: 950px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.tool_options {
    border: 1px solid #000;
    box-shadow: 8px 8px 0px var(--primary-color);
    max-width: 1020px;
    width: 90%;
    margin: auto;
}

#result {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.generate_wrapper {
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.result_wrapper {
    border: 1px solid #000;
    box-shadow: 10px 10px 0px var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.result_wrapper.fix {
    max-height: 197px;
}


#reset,
#generate {
    margin: auto;
    text-align: center;
    width: fit-content;
    font-size: 18px;
    border: 1px solid #000;
    box-shadow: 5px 5px 0px var(--primary-color);
    padding: 8px 30px;

}

.tool_options {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.tool_options>div {
    min-width: 45%;
    flex: 1;
}

.tool_options select {
    cursor: pointer;
}

.tool_options select,
.tool_options input[type=text],
.tool_options input[type=number] {
    border: 1px solid #000;
    outline: none;
    box-shadow: 2px 2px 0px var(--primary-color);
    padding: 5px;
    width: 100%;
}


.tool_options>div>p {
    margin-bottom: 10px;

}


/* articles */
.faq_list>div,
.articles_list>div {
    border: 1px solid #000;
    box-shadow: 5px 5px 0px var(--primary-color);
}


/* footer icons */
.footer_icon>a {
    border: 1px solid #000;
    box-shadow: 3px 3px 0px var(--primary-color);
    padding: 8px;
}

.footer_icon>a svg {
    color: #000;
}

.tool_wrapper {
    display: flex;
    gap: 30px;
    ;
}

.tool_wrapper>* {
    flex: 1;
}
